{% extends 'index.html'%}
{% load static %}
{% block content %}
<div>
  <h2>Temperature and WindSpeeds distribution</h2>
  <img src="data:image/png;base64,{{ plot1_data }}" alt="Plot 1">
</div>
<div>
  <h2>Temperature and Humidity distribution</h2>
  <img src="data:image/png;base64,{{ plot2_data }}" alt="Plot 2">
</div>
<div>
  <h2>Types of Crops count</h2>
  <img src="data:image/png;base64,{{ plot3_data }}" alt="Plot 3">
</div>
<div>
  <h2>Pairplot of data based on Types of Crops</h2>
  <img src="data:image/png;base64,{{ plot4_data }}" alt="Plot 4">
</div>

{% endblock %}
