
{% extends 'main.html' %}
{% load static%}
{% block content%}
<link rel="stylesheet" type='text/css' href="{% static 'base/css/home.css' %}">
<div class="home-container">
	<div class="svg-container">
		<img src= "{% static 'base/svg/analysis.svg' %}">
	</div>

	<div class="home-text-container">
			<h1> 
				Application of Crop Yield Prediction in an Agricultural Field Using Random Forest Algorithm 
				<br>
				<br>
				<br>
				<span class="get-started"> 
					<a href="{% url 'upload-files' %}"> Get Started</a>
				</span> 
			</h1>
			

	</div>
</div>
{% endblock%}